<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Cart</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-item>Brasília Amarela</ion-item>
    <ion-item>Gol 1.0</ion-item>
    <ion-item>BMW 120i</ion-item>
    <ion-item>ONIX 1.6</ion-item>
    <ion-item>Fiesta 2.0</ion-item>
    <ion-item>C3 1.0</ion-item>
    <ion-item>Uno Fire</ion-item>
    <ion-item>Sentra 2.0</ion-item>
    <ion-item>Astra Sedan</ion-item>
    <ion-item>Vectra 2.0 Turbo</ion-item>
    <ion-item>Hilux 4x4</ion-item>
    <ion-item>Montana Cabine dupla</ion-item>
    <ion-item>Golf GT</ion-item>
  </ion-list>
</ion-content>